*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
#body{
  
    background-image: url(images/back.jpg);
    background-size: cover;
}
    /* m homepage  */
    
.container1{
    margin-top: 30vh;
    width: 36%;
    margin-left: 18vh;
    height: 75vh;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin-bottom: 20vh;
}
.main-description{
    margin-top: 3vh;
    padding-top: 20px;
    width: 100%;
    height: 83.5%;
    background-color: rgba(150, 150, 150, 0.356);}
.main-description button{
    margin-top: 35px;
}
.col{
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col p{
    margin-bottom: 0;
    font-weight: 500;
}
.col img{
    width: 3rem;
    width: 3rem;
}
.navbar-brand li, .navbar-links{
    text-decoration: none;
    color: black;
    list-style: none;
    margin: 1rem;
    margin-top: 2rem;
}
button, .main-description p,.main-description h2{
    margin: 19px;
}
    /* log in page details */
    .container{
        position: absolute;
        top: 10vh;
        border: 1px solid black;
        display: flex;
        display: flex;
        justify-content: center;
        align-content: center;
    }
.login-page{
    margin-top: 18vh;
    display: flex;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 5px;
    padding: 2rem;
    position: absolute;
}
